In [1]:
import pandas as pd

train_path='data/training-Obama-Romney-tweets.xlsx'
# Read both sheets from the Excel file
df_sheet1 = pd.read_excel(train_path, sheet_name=0)
df_sheet2 = pd.read_excel(train_path, sheet_name=1)

# Combine the dataframes
df = pd.concat([df_sheet1, df_sheet2], ignore_index=True)
df.shape

(14400, 6)

In [2]:
df.head()

,Unnamed: 0,date,time,Anootated tweet,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,"1: positive, -1: negative, 0: neutral, 2: mixed",Class,Your class
1,NaN,2012-10-16 00:00:00,10:28:53-05:00,"Kirkpatrick, who wore a baseball cap embroider...",0,NaN
2,NaN,2016-12-10 00:00:00,10:09:00-05:00,Question: If <e>Romney</e> and <e>Obama</e> ha...,2,NaN
3,NaN,2012-10-16 00:00:00,10:04:30-05:00,#<e>obama</e> debates that Cracker Ass Cracker...,1,NaN
4,NaN,2012-10-16 00:00:00,10:00:36-05:00,RT @davewiner Slate: Blame <e>Obama</e> for fo...,2,NaN

In [3]:
df = df[["Anootated tweet", "Unnamed: 4"]]
df.head()

                                     Anootated tweet Unnamed: 4
0    1: positive, -1: negative, 0: neutral, 2: mixed      Class
1  Kirkpatrick, who wore a baseball cap embroider...          0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...          2
3  #<e>obama</e> debates that Cracker Ass Cracker...          1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...          2

In [4]:
df.columns = ["tweet", "sentiment"]
df.head()

                                               tweet sentiment
0    1: positive, -1: negative, 0: neutral, 2: mixed     Class
1  Kirkpatrick, who wore a baseball cap embroider...         0
2  Question: If <e>Romney</e> and <e>Obama</e> ha...         2
3  #<e>obama</e> debates that Cracker Ass Cracker...         1
4  RT @davewiner Slate: Blame <e>Obama</e> for fo...         2

In [5]:
df = df[df['sentiment'].isin([-1, 0, 1])]
df.head()

                                               tweet sentiment
1  Kirkpatrick, who wore a baseball cap embroider...         0
3  #<e>obama</e> debates that Cracker Ass Cracker...         1
5  @Hollivan @hereistheanswer  Youre missing the ...         0
7  I was raised as a Democrat  left the party yea...        -1
8  The <e>Obama camp</e> can't afford to lower ex...         0

In [6]:
df = df.iloc[1:, :]
df.head()

                                                tweet sentiment
3   #<e>obama</e> debates that Cracker Ass Cracker...         1
5   @Hollivan @hereistheanswer  Youre missing the ...         0
7   I was raised as a Democrat  left the party yea...        -1
8   The <e>Obama camp</e> can't afford to lower ex...         0
10  <e>Obama</e> pot <a>policy</a> disappointing -...        -1

In [7]:
import re
import string

In [8]:
df['tweet'] = df['tweet'].astype(str).fillna('')

# Remove HTML tags, mentions, URLs, &-starting strings, specific characters, punctuation
df['tweet'] = df['tweet'].str.replace(r'<[^>]*>', '', regex=True)  # Remove HTML tags
df['tweet'] = df['tweet'].str.replace(r'@\w+', '', regex=True)  # Remove mentions starting with @
df['tweet'] = df['tweet'].str.replace(r'http\S+', '', regex=True)  # Remove URLs starting with http
df['tweet'] = df['tweet'].str.replace(r'&\S+', '', regex=True)  # Remove strings starting with &
df['tweet'] = df['tweet'].str.replace(r'"', '', regex=True)  # Remove double quotes
df['tweet'] = df['tweet'].str.replace(r'#', '', regex=True)  # Remove hash symbols

# Remove non-ASCII characters
df['tweet'] = df['tweet'].apply(lambda x: x.encode('ascii', 'ignore').decode('ascii') if isinstance(x, str) else x)

# Remove punctuation
df['tweet'] = df['tweet'].str.replace(f"[{re.escape(string.punctuation)}]", '', regex=True)

# Remove extra spaces that may result from removals
df['tweet'] = df['tweet'].str.strip().replace(r'\s+', ' ', regex=True)

df.head()

                                                tweet sentiment
3   obama debates that Cracker Ass Cracker tonight...         1
5   Youre missing the point Im afraid you do not u...         0
7   I was raised as a Democrat left the party year...        -1
8   The Obama camp cant afford to lower expectatio...         0
10  Obama pot policy disappointing to say the leas...        -1

In [9]:
df.dropna(inplace=True)
df.to_csv('data_cleaned/train_data_cleaned.csv', index=False)